/* -----------sidenav style---------- */
#bodystyle {
  background-color: #E3E3E3;
  font-family: 'Kanit', sans-serif;
}

.navbar {
  background-color: #3C6255;
  height: 10%;
}

#projectname {
  font-size: 1.8rem;
  text-align: center;
  color: white;
}

#sidenav {
  height: 100%;
  width: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3C6255;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 90px;
}

#sidenav a {
  padding: 0px 8px 0px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: block;
  transition: 0.5s;
}
#sidenav label:hover {
  color: red;
}
#sidenav span:hover {
  color: red;
}

#sidenav span {
  color: white;
}

#sidenav label {
  font-size: 1.2rem;
  color: white;
}
#userbtn{
  border-radius: 25px;
}

#btnclose {
  font-size: 1.8rem;
  border-style: solid;
  border-radius: 10px;
}

#offcanvasNavbar {
  width: 65%;
  background-color: #3C6255;
}

#offcanvasNavbar a {
  padding: 0px 3px 0px 20px;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  display: block;
  transition: 0.3s;
}

#offcanvasNavbar span {
  font-size: 2rem;
  color: black;
}

#offcanvasNavbar label {
  font-size: 1.3rem;
  color: black;
}

.offcanvas-body{
  background-color: white;
  color: black;
  border-radius: 25px;
  margin-right: 3%;
  margin-left: 3%;
}
/* ----------- End sidenav style---------- */

/* -----------body style---------- */
body {
  padding-top: 100px;
  padding-bottom: 20px;
  transition: margin-left 0.5s;
  padding-left: 80px;
  padding-right: 40px;
}

#content {
  transition: margin-left .5s;
  margin-left: 5px;
  border-radius: 25px;
  background-color: white;
  height: 100%;
  padding: 2%;
}
.header{
  padding-top: 2%;
  text-align: center;
}
#branchheader{
  text-align: center;
  font-size: 1.3rem;
}
#bname{
  padding-left: 5%;
}
.branchdetail{
  padding-left: 3%;
  font-size: 1.1rem;
}
#btnaccess{
  font-size: 1.1rem;
}
.branchshow{
  margin-bottom: 2%;
}
#btn{
  font-size: 1.1rem;
}
#bdetail{
  font-size: 1.2rem;
}

/* ----------- End body style---------- */
