/* -----------sidenav style---------- */
#bodystyle {
    background-color: #E3E3E3;
  }
  
  .navbar {
    background-color: white;
    height: 10%;
  }
  
  #projectname {
    font-size: 1.8rem;
    text-align: center;
  }
  #sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 90px;
  }
  
  #sidenav a {
    padding: 0px 8px 0px 20px;
    text-decoration: none;
    font-size: 1rem;
    color: black;
    display: block;
    transition: 0.5s;
  }
  #sidenav label:hover {
    color: red;
  }
  #sidenav span:hover {
    color: red;
  }
  
  #sidenav span {
    color: black;
  }
  
  #sidenav label {
    font-size: 1rem;
    color: black;
  }
  #userbtn{
    border-radius: 25px;
  }
  #btnclose {
    font-size: 1.8rem;
    border-style: solid;
    border-radius: 10px;
  }
  
  #offcanvasNavbar {
    width: 60%;
  }
  
  #offcanvasNavbar a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  #offcanvasNavbar span {
    color: black;
  }
  
  #offcanvasNavbar label {
    font-size: 1rem;
    color: black;
  }
  
  /* ----------- End sidenav style---------- */
  
  /* ----------- body style---------- */
  body {
    padding-top: 100px;
    padding-bottom: 20px;
    transition: margin-left 0.5s;
    padding-left: 80px;
    padding-right: 40px;
  }
  
  #content {
    transition: margin-left .5s;
    margin-left: 5px;
    border-radius: 25px;
    background-color: white;
    height: 100%;
    padding: 2%;
    width: 100%;
    overflow: auto;
  }
  #resultselect{
    float: right;
    margin-bottom: 1%;
  }
  #totalcheck{
    align-items: center;
    text-align: center;
  }
  .header{
    text-align: center;
    margin-bottom: 2%;
  }
  #totalcheck{
    text-align: center;
  }
  #totalcheck tr:hover {
    background-color: #EDEDED;
  }
  #quarter label{
    margin-right: 2%;
  }
  .form-check-input{
    font-size: 1.3rem;
  }
  #month{
    margin-top: 2%;
  }
  #monthheader{
    font-size: 1.2rem;
  }
  #quarterhead{
    font-size: 1.2rem;
  }