{% extends "formbase.html" %}
{% block content %}
<!-- ----------------------------------------------content---------------------------------------------- -->
<div id="content">
    <h3 class="header">การมีส่วนร่วมกับนโยบายบริษัท</h3>
    <h4 id="showbdetail"></h4>
    <form class="needs-validation" novalidate="">
        <table class="table" id="AccountForm">
            <thead>
                <tr>
                    <th scope="col" id="h1" style="width: 58%;">หัวข้อการประเมิน</th>
                    <th scope="col">คะแนนที่ได้</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>เลือกคะแนน</td>
                </tr>
                <tr>
                    <td>ความร่วมมือในการเข้าร่วมกิจกรรมต่าง ๆ ของบริษัท</td>
                    <td>
                        <div class="scoretag"><label id="a1" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="5" id="ความร่วมมือในการเข้าร่วมกิจกรรมต่าง ๆ ของบริษัท"
                            onchange="showvalue('a1', id)" required>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit" id="fbpsubmit" class="btn btn-primary">บันทึก</button>
    </form>
</div>
<!-- ----------------------------------------------END content---------------------------------------------- -->
<script src="../static/javascript/audit.js"></script>
{% endblock %}