{% extends "formbase.html" %}
{% block content %}
<div id="content">

    <h3 class="header">การบริหารงานที่ร้านสาขา</h3>
    <h4 id="showbdetail"></h4>
    <form class="needs-validation" novalidate="">
        <table class="table" id="FBPForm">
            <thead>
                <tr>
                    <th scope="col" id="h1" style="width: 58%;">หัวข้อการประเมิน</th>
                    <th scope="col">คะแนนที่ได้</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>เลือกคะแนน</td>
                </tr>
                <tr>
                    <td><b>การบริหารงานบุคคล ( 130 คะแนน )</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.1 อัตรากำลังคนรวม (คน)</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc2.1">
                            <option selected></option>
                            <option value="80">ครบ</option>
                            <option value="40">ขาด 50% ของโครงสร้างจริง</option>
                            <option value="20">ขาด 75% ของโครงสร้างจริง</option>
                            <option value="0">ไม่ครบ 100%</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>2.2
                        จำนวนผู้ช่วยผุ้จัดการร้านและ/หรือหัวหน้าผลัดที่ผ่านการอบรมหลักสูตรมาตรฐานผู้ช่วยผู้จัดการร้าน
                    </td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc2.2">
                            <option selected></option>
                            <option value="45">ขาด 1 คน ไม่เกิน 2 เดือน และส่งฝึกอบรมหรือ หรือมีเจตนาส่งอบรม</option>
                            <option value="0">ไม่ปฏิบัติตามนี้</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>2.3 จำนวนพนักงานร้านที่ได้รับการอบรมหลักสูตรมาตรฐานพนักงานร้าน</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc2.3">
                            <option selected></option>
                            <option value="45">มีการสอนและอบรมครบทุกคน</option>
                            <option value="20">มีการสอนและอบรม ≥ 80 % ขึ้นไป</option>
                            <option value="0">มีการสอนและอบรม < 80 %</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>2.4 ไม่ออกกฏระเบียบข้อบังคับผิดเงือนไขที่บริษัทฯกำหนด</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc2.4">
                            <option selected></option>
                            <option value="20">ปฏิบัติตามหลักเกณฑ์</option>
                            <option value="0">ไม่ปฏิบัติตามหลักเกณฑ์</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>2.5 ปฎิบัติตามกฎระเบียบของบริษัทฯ</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc2.5">
                            <option selected></option>
                            <option value="10">ปฎิบัติตามกฎระเบียบ</option>
                            <option value="5">พบไม่ปฎิบัติตามกฎระเบียบ 1 เรื่อง</option>
                            <option value="0">พบไม่ปฏิบัติตามกฎระเบียบ  2 เรื่องขึ้นไป</option>
                          </select>
                    </td>
                </tr>
                    <td>3.1 การดูแลมาตราฐานร้านอย่างสม่ำเสมอ</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc3.1">
                            <option selected></option>
                            <option value="20">แก้ไข/ปรับปรุงตามAction List ครบทุกหัวข้อที่มีการบันทึก</option>
                            <option value="10">แก้ไข/ปรับปรุงตาม Action List บางหัวข้อที่มีการบันทึก</option>
                            <option value="0">ไม่มีการแก้ไข</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>3.2 การสั่งสินค้าผ่านระบบ Online</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc3.2">
                            <option selected></option>
                            <option value="20">Online ครบ 100%</option>
                            <option value="10">Online ≥ 95%</option>
                            <option value="0">Online < 95%</option>
                          </select>
                    </td>
                </tr>
                    <td>3.3 การให้ความร่วมมือกับโครงการต่างๆรวมถึงนโยบายใหม่ๆของบริษัท</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc3.3">
                            <option selected></option>
                            <option value="30">ให้ความร่วมมือทุกโครงการ</option>
                            <option value="15">ให้ความร่วมมือบางโครงการ</option>
                            <option value="0">ไม่ให้ความร่วมมือ</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>3.4 ความร่วมมือในการประชุมกับทีม OPT</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc3.4">
                            <option selected></option>
                            <option value="30">ให้ความร่วมมือทุกครั้ง</option>
                            <option value="15">≥ 80 % ขึ้นไป</option>
                            <option value="0">< 80%</option>
                          </select>
                    </td>
                </tr>
                <tr>
                    <td>3.5 ไม่เคยได้รับหนังสือขอความร่วมมือ</td>
                    <td>
                        <select class="form-select" aria-label="Default select example" required name="fc3.5">
                            <option selected></option>
                            <option value="30">ไม่เคยได้รับเลย</option>
                            <option value="15">ได้รับหนังสือขอความร่วมมือจากผู้จัดการฝ่าย หักใบละ (หมายเหตุ ได้รับจาก FC เรื่องเดียวกัน 2 ครั้ง = 1 ใบ ของผจก.ฝ่าย)</option>
                            <option value="0">กรณีถ้า SBP ปฏิเสธ,ไม่เซ็นต์</option>
                          </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit" id="fbpsubmit" class="btn btn-primary">บันทึก</button>
    </form>
</div>
<!-- ----------------------------------------------END content---------------------------------------------- -->
<script src="../static/javascript/fc.js"></script>
{% endblock %}