{% extends "formbase.html" %}
{% block content %}
<div id="content">

    <h3 class="header">การบริหารงานที่ร้านสาขา</h3>
    <h4 id="showbdetail"></h4>
    <form class="needs-validation" novalidate="">
        <table class="table" id="FBPForm">
            <thead>
                <tr>
                    <th scope="col" id="h1" style="width: 58%;">หัวข้อการประเมิน</th>
                    <th scope="col">คะแนนที่ได้</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>เลือกคะแนน</td>
                </tr>
                <tr>
                    <td><b>การบริหารงานบุคคล ( 130 คะแนน )</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.1 อัตรากำลังคนรวมครบตามโครงสร้าง</td>
                    <td>
                        <div class="scoretag"><label id="f2" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="5" id="2.1  อัตรากำลังคนรวมครบตามโครงสร้าง"
                            onchange="showvalue('f2', id , value)" required >
                    </td>
                </tr>
                <tr>
                    <td>2.2
                        จำนวนผู้ช่วยผุ้จัดการร้านและ/หรือหัวหน้าผลัดที่ผ่านการอบรมหลักสูตรมาตรฐานผู้ช่วยผู้จัดการร้าน
                    </td>
                    <td>
                        <div class="scoretag"><label id="f3" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="3"
                            id="2.2  จำนวนผู้ช่วยผุ้จัดการร้านและ/หรือหัวหน้าผลัดที่ผ่านการอบรมหลักสูตรมาตรฐานผู้ช่วยผู้จัดการร้าน"
                            onchange="showvalue('f3', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>2.3 จำนวนพนักงานร้านที่ได้รับการอบรมหลักสูตรมาตรฐานพนักงานร้าน</td>
                    <td>
                        <div class="scoretag"><label id="f4" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="5"
                            id="2.3  จำนวนพนักงานร้านที่ได้รับการอบรมหลักสูตรมาตรฐานพนักงานร้าน"
                            onchange="showvalue('f4', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>2.4 การบริหารจัดการและการดูแลทีมงานในร้าน</td>
                    <td>
                        <div class="scoretag"><label id="f5" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="3" id="2.4  การบริหารจัดการและการดูแลทีมงานในร้าน"
                            onchange="showvalue('f5', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>2.5 จ้างงานตามกฎหมายแรงงานและจัดทำสวัสดิการประกันสังคม</td>
                    <td>
                        <div class="scoretag"><label id="f6" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="3"
                            id="2.5  จ้างงานตามกฎหมายแรงงานและจัดทำสวัสดิการประกันสังคม"
                            onchange="showvalue('f6', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>2.6 ไม่ออกกฎผิดเงื่อนไขที่บริษัทกำหนด และไม่จ้างงานตามกฎหมายแรงงาน</td>
                    <td>
                        <div class="scoretag"><label id="f7" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="3"
                            id="2.6  ไม่ออกกฎผิดเงื่อนไขที่บริษัทกำหนด และไม่จ้างงานตามกฎหมายแรงงาน"
                            onchange="showvalue('f7', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>2.7 ส่งสำเนาทะเบียนลูกจ้าง</td>
                    <td>
                        <div class="scoretag"><label id="f8" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="5" id="2.7  ส่งสำเนาทะเบียนลูกจ้าง"
                            onchange="showvalue('f8', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td><b>ความร่วมมือและการเอาใจใส่บริหารที่ร้านสาขา (100 คะแนน)</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.1 การดูแลมาตราฐานร้านอย่างสม่ำเสมอ</td>
                    <td>
                        <div class="scoretag"><label id="f10" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="3" id="3.1  การดูแลมาตราฐานร้านอย่างสม่ำเสมอ"
                            onchange="showvalue('f10', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>3.2 การให้ความร่วมมือในการบริหารงานขายต่าง ๆ</td>
                    <td>
                        <div class="scoretag"><label id="f11" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="5" id="3.2  การให้ความร่วมมือในการบริหารงานขายต่าง ๆ"
                            onchange="showvalue('f11', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>3.3 การสั่งสินค้าผ่านระบบ Online</td>
                    <td>
                        <div class="scoretag"><label id="f12" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="5" id="3.3  การสั่งสินค้าผ่านระบบ Online"
                            onchange="showvalue('f12', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>3.4 การให้ความร่วมมือกับโครงการต่างๆรวมถึงนโยบายใหม่ๆของบริษัท</td>
                    <td>
                        <div class="scoretag"><label id="f13" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="5"
                            id="3.4  การให้ความร่วมมือกับโครงการต่างๆรวมถึงนโยบายใหม่ๆของบริษัท"
                            onchange="showvalue('f13', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>3.5 ความร่วมมือในการประชุมกับทีม OPT</td>
                    <td>
                        <div class="scoretag"><label id="f14" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="3" id="3.5  ความร่วมมือในการประชุมกับทีม OPT"
                            onchange="showvalue('f14', id , value)" required>
                    </td>
                </tr>
                <tr>
                    <td>3.6 ไม่เคยได้รับหนังสือขอความร่วมมือ</td>
                    <td>
                        <div class="scoretag"><label id="f15" class="range-value"></label></div><input type="range"
                            class="form-range" min="1" max="3" id="3.6  ไม่เคยได้รับหนังสือขอความร่วมมือ"
                            onchange="showvalue('f15', id , value)" required>
                    </td>
                </tr>
            </tbody>
        </table>

        <button type="submit" id="fbpsubmit" class="btn btn-primary">บันทึก</button>
    </form>
</div>
<!-- ----------------------------------------------END content---------------------------------------------- -->
<script src="../static/javascript/fc.js"></script>
{% endblock %}