{% extends "base.html" %}
{% block content %}
<div id="content">
    <h3 class="header">เลือกสาขาที่ต้องการเข้าประเมิน</h3>
    <hr>
    <div class="container ">
        <div class="row justify-content-center align-items-center" id="branchheader">
            <div class="col-6 col-sm-8 d-flex align-items-center" id="bname" style="font-size: 1.2rem;"><span
                    class="material-symbols-outlined">storefront</span>ชื่อสาขา</div>
            <div class="col-6 col-sm-4 d-flex align-items-center" id="baction" style="font-size: 1.2rem;"><span
                    class="material-symbols-outlined">list_alt</span>การเข้าประเมิน</div>
        </div>
        <hr>
        <div id="branch" class="branchdetail">
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">2119 สถานีรถไฟเชียงใหม</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><button type="button" id="btn"
                            class="btn btn-secondary">ทำประเมิน</button>&nbsp;<span class="material-symbols-outlined"
                            style="font-size: 2rem;">task_alt</span></div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">2789 กาดอินทร</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><button type="button" id="btn"
                            class="btn btn-secondary">ทำประเมิน</button>&nbsp;<span class="material-symbols-outlined"
                            style="font-size: 2rem;">task_alt</span></div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">3119 ศิริมังคลาจารย์</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><a href="./fc"><button type="button"
                                class="btn btn-success" id="btn"
                                onclick="localStorage.setItem('bcheck' , 3119)">ทำประเมิน</button></a>&nbsp;<span
                            class="material-symbols-outlined" style="font-size: 2rem; color:green;">edit_square</span>
                    </div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">3189 อบต.สุเทพ</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><button type="button" id="btn"
                            class="btn btn-secondary">ทำประเมิน</button>&nbsp;<span class="material-symbols-outlined"
                            style="font-size: 2rem;">task_alt</span></div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">4059 ไชยปราการ</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><a href="./fc"><button type="button"
                                class="btn btn-success" id="btn"
                                onclick="localStorage.setItem('bcheck' , 4059)">ทำประเมิน</button></a>&nbsp;<span
                            class="material-symbols-outlined" style="font-size: 2rem; color:green;">edit_square</span>
                    </div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">4301 กาดอินทร 2</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><button type="button" id="btn"
                            class="btn btn-secondary">ทำประเมิน</button>&nbsp;<span class="material-symbols-outlined"
                            style="font-size: 2rem;">task_alt</span></div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">5093 ศรีปิงเมือง 2</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><a href="./fc"><button type="button"
                                class="btn btn-success" id="btn"
                                onclick="localStorage.setItem('bcheck' , 5093)">ทำประเมิน</button></a>&nbsp;<span
                            class="material-symbols-outlined" style="font-size: 2rem; color:green;">edit_square</span>
                    </div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">5094 ศรีดอนไชย1</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><a href="./fc"><button type="button"
                                class="btn btn-success" id="btn"
                                onclick="localStorage.setItem('bcheck' , 5094)">ทำประเมิน</button></a>&nbsp;<span
                            class="material-symbols-outlined" style="font-size: 2rem; color:green;">edit_square</span>
                    </div>
                </div>
            </div>
            <div class="branchshow">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-8 d-flex align-items-center" id="bdetail">5147 ตลาดแม่กวง</div>
                    <div class="col-6 col-sm-4 d-flex align-items-center"><button type="button" id="btn"
                            class="btn btn-secondary">ทำประเมิน</button>&nbsp;<span class="material-symbols-outlined"
                            style="font-size: 2rem;">task_alt</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ----------------------------------------------END content---------------------------------------------- -->
<script src="../static/javascript/index.js"></script>
{% endblock %}