<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Sbpadmincheck.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <!-- data table -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <!-- google icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>สรุปการประเมิน SBP</title>
</head>

<body id="bodystyle">
    <nav class="navbar  fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html"><img src="../static/image/choice-lg.png" style="height: 50px;"
                    alt=""></a>
            <label id="projectname">ประเมินผล การบริหารร้าน 7-Eleven ของแฟรนไชส์</label>
            <button type="button" class="btn" style="background-color: #EDEDED;" id="userbtn"><label
                    class="d-flex justify-content-center" for="" style="font-size: 1.2rem;"><span
                        class="material-symbols-outlined" style="font-size: 2rem;">account_box</span>&nbsp; : &nbsp;
                    Suttikaet</label></button>
            <button class="navbar-toggler d-xs-block d-sm-block d-md-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <a class="navbar-brand" href="#"><img src="../static/image/choice-lg.png" style="height: 50px;"
                            alt=""></a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="d-flex align-items-center" href="./index.html" style="display: flex;"><span
                                    class="material-symbols-outlined">home</span>&nbsp;<label
                                    for="">หน้าหลัก</label></a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center" href="./Formconfix.html" style="display: flex;"><span
                                    class="material-symbols-outlined">settings</span>&nbsp;<label
                                    for="">ตั้งค่า</label></a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center" href="./login.html" style="display: flex;"><span
                                    class="material-symbols-outlined">logout</span>&nbsp;<label
                                    for="">ออกจากระบบ</label></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="border border-white d-none d-sm-none d-md-block" id="sidenav">
        <a href="javascript:void(0)" id="navclose" onclick="closeNav()" style="margin-left: 130px;" hidden><span
                class="material-symbols-outlined" id="btnclose">first_page</span></a>
        <a id="opennavs" onclick="sidenav()" style="font-size: 2rem;"><span
                class="material-symbols-outlined">open_in_new</span></a>
        <hr>
        <a class="d-flex align-items-center" href="./index.html" style="display: flex;"><span
                class="material-symbols-outlined">home</span>&nbsp;<label for="" id="homepage"
                hidden>หน้าหลัก</label></a>
        <hr>
        <a class="d-flex align-items-center" href="./Formconfix.html" style="display: flex;"><span
                class="material-symbols-outlined">settings</span>&nbsp;<label for="" id="setting"
                hidden>ตั้งค่า</label></a>
        <hr>
        <a class="d-flex align-items-center" href="./login.html" style="display: flex;"><span
                class="material-symbols-outlined">logout</span>&nbsp;<label for="" id="logout"
                hidden>ออกจากระบบ</label></a>
        <hr>
    </div>
    <!-- ----------------------------------------------END NAV------------------------------------------------------ -->
    <!-- ----------------------------------------------content---------------------------------------------- -->
    <div id="content">
        <h4 class="header">สถานะการทำแบบประเมิน ร้านสาขา SBP</h4>
        <button type="button" class="btn btn-secondary d-flex justify-content-center" data-bs-toggle="modal"
            data-bs-target="#configview" id="resultselect"><span
                class="material-symbols-outlined">settings</span>เลือกผลการประเมิน</button>
        <table class="table " id="totalcheck">
            <thead>
                <tr>
                    <th scope="col">รหัสสาขา</th>
                    <th scope="col">ชื่อสาขา</th>
                    <th scope="col">FC ประเมิน</th>
                    <th scope="col">บัญชี ประเมิน</th>
                    <th scope="col">Audit ประเมิน</th>
                    <th scope="col">ดูรายงาน</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="configview" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">เลือกช่วงเวลาสำหรับดูการประเมินผล</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form>
                        <a class="btn btn-light d-flex justify-content-center" data-bs-toggle="collapse"
                            id="quarterhead" href="#quarter" role="button" aria-expanded="false"
                            aria-controls="collapseExample" style="width: 100%;">
                            ตามไตรมาส<span class="material-symbols-outlined">arrow_drop_down</span>
                        </a><br>
                        <div class="collapse" id="quarter">

                            <input class="form-check-input" type="checkbox" value="" id="quarter1"
                                onclick="opensubmit()">
                            <label class="form-check-label" for="flexCheckDefault">
                                ไตรมาสที่ 1
                            </label>

                            <input class="form-check-input" type="checkbox" value="" id="quarter2"
                                onclick="opensubmit()">
                            <label class="form-check-label" for="flexCheckDefault">
                                ไตรมาสที่ 2
                            </label>

                            <input class="form-check-input" type="checkbox" value="" id="quarter3"
                                onclick="opensubmit()">
                            <label class="form-check-label" for="flexCheckDefault">
                                ไตรมาสที่ 3
                            </label>

                            <input class="form-check-input" type="checkbox" value="" id="quarter4"
                                onclick="opensubmit()">
                            <label class="form-check-label" for="flexCheckDefault">
                                ไตรมาสที่ 4
                            </label>

                        </div><br>

                        <a class="btn btn-light d-flex justify-content-center" data-bs-toggle="collapse"
                            id="monthheader" href="#month" role="button" aria-expanded="false"
                            aria-controls="collapseExample" style="width: 100%;">
                            ตามเดือน<span class="material-symbols-outlined">arrow_drop_down</span>
                        </a>
                        <div class="collapse" id="month">

                            <select class="form-select" aria-label="Default select example" onclick="opensubmit()">
                                <option selected>เลือกเดือนที่จะดูข้อมูล</option>
                                <option value="1">มกราคม</option>
                                <option value="2">กุมภาพันธ์</option>
                                <option value="3">มีนาคม</option>
                                <option value="4">เมษายน</option>
                                <option value="5">พฤษภาคม</option>
                                <option value="6">มิถุนายน</option>
                                <option value="7">กรกฎาคม</option>
                                <option value="8">สิงหาคม</option>
                                <option value="9">กันยายน</option>
                                <option value="10">ตุลาคม</option>
                                <option value="11">พฤศจิกายน</option>
                                <option value="12">ธันวาคม</option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="submit" class="btn btn-primary" id="submittime" disabled>ค้นหา</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/javascript/Sbpadmincheck.js"></script>
</body>

</html>